header {
  text-align: center;
  background: url('image/mountain.jpeg');
  background-size: cover;
  }
.image-circle {
  border-radius: 50%; 
  }

body {
  background: lightyellow;
}
a:link { 
  color: rgb(35, 14, 230);
}
a:visited { 
  color: rgba(223, 28, 28, 0.808);   
  }
a:hover { 
  color: rgb(240, 245, 240); 
  }
a:active { 
  color: rgb(243, 204, 120);  
  }

h1 {
  font-size: 70px;
  font-family: Rampart One;
  color: rgb(0, 0, 0);
  }
h2 {
  color: black;
  font-family: charm;
  }
p {
  color: rgb(0, 0, 0);
  font-family: charm;
  }
ul {
  color: rgb(0, 0, 0);
  
}
li {
  color: rgb(0, 0, 0);
  font-family: charm;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  }

ol {
  color: #bdcbd9
  }

article {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  }

.nav {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: white;
  background: rgba(0,0,0,0.5);
  }

/* -- footer -- */

footer {
	text-align: center;	
  background-color: rgb(5, 1, 1);
  color: rgb(255, 255, 255);
}